.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
          "wdth" 100;
}

$mainColor: #e7dfd8;
$fontColor: #231f20;
$fontSize: 20px;