@use 'variables' as *;

//grid layout
body{
  background-color: $mainColor;
  height: 100vh;

  display: grid;
  grid-template-rows: 80px 1fr auto;

  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  color: $fontColor;
  font-weight: 250;

  p{
    font-size:$fontSize;
  }

  a{
    font-size: $fontSize;
  }

  header{
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//header container
.container{
  //main container dimensions
  z-index: 2;

  width: 94%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;

  //menu icon
  .menu{
    width: 40px;
    height: 33px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .elipse{
      width: 100%;
      height: 7px;
      background-color: $fontColor;
      border-radius: 4px;
      transition: margin-left 0.4s ease-in-out;
    }

    &:hover{
      cursor: pointer;

      .elipse{
        &:nth-child(2){
          margin-left: 15px;
        }

        &:nth-child(3){
          margin-left: 30px;
        }
      }
    }
  }

  //navigation
  nav{
    width: auto;
    height: auto;

    padding-left: 120px;

    transform: translatey(-100%);
    transition: transform 0.7s ease;
    pointer-events: none;

    ul{
      display: flex;
      flex-direction: row;
      align-items: center;

      padding: 0;
    }

    li{
      list-style: none;
      margin: 0 50px 0 50px;
      padding: 0;

      a{
        text-decoration: none;
        color: $fontColor;

        transition: all 0.3s ease-in-out;

        &:hover{
          color: black;
          text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 1px 0 #fff;
        }
      }
    }
  }
}

//show nav
.container.show-nav nav{
  transform: translateY(0);
  pointer-events: auto;
}

//main
main{
  user-select: none;
  z-index: 1;

  .main-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 15px 0 15px 0;
  }

  p{
    font-size: 3.5em;
    color: $fontColor;
    line-height: 1.2em;
    letter-spacing: 0.15em;
    font-weight: 150;
    margin: 0;
  }

  h1{
    color: white;
    font-size: 20em;
    text-align: left;
    line-height: 0.8em;
    letter-spacing: 0.2em;
    margin: 0 0 0 -80px;
    text-shadow: 2px 4px 16px rgba(0, 0, 0, 0.5), 0 1px 0 #fff;
  }
}

footer{
  position: fixed;
  left: 0;
  width: 100%;
  height: 320px;
  bottom: -240px;
  z-index: 3;
  color: $fontColor;
  transition: color 0.5s ease-in-out;

  background-color: rgba(35,31,32,0);

  a{
    text-decoration: none;
  }

  p{
    font-size: $fontSize;
  }

  img{
    width: 45px;
    height: 45px;
    margin: 17.5px 25px 17.5px 25px;

    transition: transform 0.3s ease-in-out;

    &:hover{
      transform: scale(1.07);
    }
  }

  .footer-top{
    height: 80px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-bottom{
    height: 240px;
    width: 100%;

    padding: 15px 25px 15px 25px;

    box-sizing: border-box;
    text-align: left;
  }
}