<footer>
    <div class="footer-container">
        <div class="footer-top">
            <img src="icons/Facebook_Logo_Primary.png" alt="logo">
            <p>&copy; 2025 okuchnia.eu</p>
            <div class="social-icons">
                <a href="">
                    <img src="icons/Facebook_Logo_Primary.png" alt="facebook">
                </a>
                <a href="">
                    <img src="icons/Facebook_Logo_Primary.png" alt="instagram">
                </a>
                <a href="">
                    <img src="icons/Facebook_Logo_Primary.png" alt="likedin">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque bibendum mauris vitae egestas.
                Donec eleifend ante eu eros ornare, at pharetra dui sollicitudin. Donec et rhoncus elit. Interdum et malesuada
                fames ac ante ipsum primis in faucibus. Pellentesque quis massa et risus euismod lacinia. Donec lacinia eros erat,
                a pretium nibh tempus quis. Proin eget rhoncus dolor. Aenean condimentum pharetra tortor vel pharetra.
                Mauris fringilla convallis augue in consectetur.
            </p>
        </div>
    </div>
</footer>