<header>
    <div class="container">
        <div class="menu">
            <div class="elipse"></div>
            <div class="elipse"></div>
            <div class="elipse"></div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </nav>
    </div>
</header>