<main>
    <div class="main-container">
        <h1>O</h1>
        <p>
            studio
            <br>
            projektowe
            <br>
            okuchnia
        </p>
    </div>
    <div class="scrollSection">
        <div class="scrollBackground">
            <div class="scrollThing"></div>
        </div>
    </div>
    <div class="main-container">
        <h1>kuchnia</h1>
    </div>
</main>