<main>
    <div class="main-container">
        <h1>O</h1>
        <p>
            studio
            <br>
            projektowe
            <br>
            okuchnia
        </p>
    </div>
    <h1>kuchnia</h1>
</main>