<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<%- include('partials/head') %>
<body>
<%- include('partials/header')%>
<%- include('partials/main')%>
<script src="/js/menu.js"></script>
<script src="/js/footerScroll.js"></script>
</body>
</html>